/* CSS overriding for PivotTable extension due to CiviCRM base styles */
#activity-report-pivot-table table.pvtTable tr td.col1, #activity-report-pivot-table table.pvtTable tr td.col2 {
    color: #3D3D3D;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #ddd;
    vertical-align: top;
    text-align: right;
    float: none;
    width: auto;
    margin: auto;
}

/* Customizing CSS for PivotTable */
table.pvtUi {
    max-width: 100%;
    table-layout: fixed;
}

table.pvtUi td:first-child {
    width: 20%;
    overflow: hidden;
}

table.pvtUi td:last-child {
    width: 80%;
}

.pvtAxisContainer li span.pvtAttr {
    height: auto;
}

th.pvtAxisLabel, th.pvtRowLabel, th.pvtColLabel {
    text-transform: none;
}

.pvtAttrDropdown {
    width: 191px;
}

.pvtRendererArea {
    overflow-x: scroll;
}

select.pvtAggregator {
    width: 100%;
}
