#pivot-report-table table.pvtTable tr td.pvtVal {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #3d3d3d;
  float: none;
  margin: auto;
  padding: 5px;
  text-align: right;
  vertical-align: top;
  width: auto;
}

/* Customizing CSS for PivotTable */
table.pvtUi {
  border-collapse: separate;
  max-width: 100%;
}

table.pvtUi td:first-child {
  overflow: hidden;
  width: 20%;
}

table.pvtUi td:last-child {
  width: 80%;
}

.pvtAxisContainer li span.pvtAttr {
  height: auto;
}

th.pvtAxisLabel,
 th.pvtRowLabel,
 th.pvtColLabel {
  text-transform: none;
}

.pvtAttrDropdown {
  width: 191px;
}

.pvtRendererArea {
  overflow-x: scroll;
}

select.pvtAggregator {
  margin: 0;
  width: 80%;
}

.pvtHorizList li {
  display: inline-block;
}

#pivot-report-preloader.hidden {
  display: none;
}

.pvtFilterBox input[type=text].inner_date {
  width: 7em;
}

.pvtFilterBox div.inner_date_filters {
  text-align: center;
}

select.relativeFilter {
  width: 14em;
}

/* Pivot Table configuration block */

#pivot-report-config {
  margin-top: 12px;
  padding: 10px 0;
}

#pivot-report-config .form-item {
  display: inline-block;
  vertical-align: middle;
}

#pivot-report-config .hidden {
  display: none;
}

#pivot-report-filters {
  display: none;
}

#pivot-report-config select.report-config-select {
  width: 26em;
}

#pivot-report-type select.pvtRenderer {
  width: 14em;
}

.pvtAxisContainer li span.pvtAttr {
  background: none;
  border: none;
  padding: 0;
  white-space: normal;
}

.pvtAxisContainer li.ui-sortable-handle {
  background: #f3f3f3;
  border: 1px solid #dedede;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

span.pvtTriangle {
  background: url(../resources/icons/filter-icon-1.png) 0 1px no-repeat;
  display: inline-block;
  float: right;
  height: 20px;
  margin-left: 5px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 20px;
}

td.pvtVals {
  padding: 20px;
  vertical-align: middle;
  width: 20%;
}

#cols_help_msg,
 #rows_help_msg {
  color: #aaa;
  font-size: small;
  margin: 20px;
}

table.pvtUi td.pvtVertList {
  display: inline-block;
  height: 38em;
  overflow-y: scroll;
  width: 190px;
}

div.pivot-report-output-config div.pivot-report-export-button {
  margin-left: 1em;
}

/* Pivot Table progress bar */

#pivot-report-preloader .progress .progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#pivot-report-preloader .progress .progress-value {
  position: absolute;
  text-align: center;
  width: 100%;
}

div.right-align {
  float: right;
}
